:root {
  --color-primary  : #fc758c;
  --color-secondary: aliceblue;
}

body {
  font-family: Questrial, Monserrat, sans-serif;
  src: url("./fonts/Questrial/Questrial.otf") format("opentype");
  padding: 0;
  margin: 0;
  border: 0;
}

body nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
}

nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.menu-options {
  display: flex;
  justify-content: space-between;
}

.menu-options div {
  width: 145px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.menu-options div:last-child {
    width: 100px;
    height: 50px;
 }

.menu-options div:not(:last-child):hover {
  background: var(--color-primary);
  color: #fff;
  cursor: pointer;
  fill: #fff;
}

.menu-options div:active {
  background: var(--color-primary);
  color: #fff;
  cursor: pointer;
  fill: #fff;
}
.menu-options
#glass svg {
  width: 20px;
  height: 20px;
  fill: var(--color-primary);
  transition: 0.3s;
}

#glass svg:hover {
  fill: #000;
  cursor: pointer;
}

.header {
  background: var(--color-primary);
  background: linear-gradient(
    90deg,
    rgba(255, 118, 142, 1) 0%,
    rgba(252, 117, 140, 1) 100%
  );
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.header p {
  font-weight: 600;
  text-align: center;
}

.header p:first-child {
  width: 100%;
  font-size: 4em;
}

.header p:nth-child(2n) {
  width: 45%;
  font-size: 1.5em;
  font-weight: 100;
}

.header button {
  color: var(--color-primary);
  border: none;
  background-color: #fff;
  width: 150px;
  height: 45px;
  text-transform: uppercase;
  font-size: 0.7rem;
  cursor: pointer;
}

.header button:hover {
  background-color: var(--color-secondary);
  transition: 0.3s;
  font-weight: 500;
}

.grid {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.grid .grid-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid .grid-board div img {
  max-width: 100%;
  width: 20vw;
  height: 100%;
  object-fit: cover;
}

.level-1 {
  grid-row-end: span 3;
}

.level-2 {
  grid-row-end: span 2;
}
.level-3 {
  grid-row-end: span 1;
}
.viewsGridOption {
  display: flex;
  height: 12vh;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.viewsGridOption svg {
  width: 20px;
  height: 20px;
  fill: var(--color-primary);
  cursor: pointer;
}

.viewsGridOption svg:hover {
  opacity: 0.9;
  transition: 0.3s;
}

.secondMenu {
  width: 50%;
  align-items: center;
  align-content: center;
  border: 0 5;
  margin: 0 auto;
}

.showme-more {
  width: 100%;
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.showme-more button {
  color: #fff;
  border: none;
  background-color: var(--color-primary);
  width: 150px;
  height: 45px;
  text-transform: uppercase;
  font-size: 0.7rem;
  cursor: pointer;
}

.footer .current-year {
  color: #c7d3db;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 15vh;
}

.footer .current-year span:nth-child(2) {
  color: var(--color-primary);
}

.footer .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

@media only screen and (min-width: 1426px) and (max-width: 40000px) {
}

@media only screen and (min-width: 1026px) and (max-width: 1425px) {
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
}
